<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Verify new Email</title>
    </head>
    <body class="clean-body u_body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #00897b;color: #000000">
        <div style="font-family:arial,helvetica,sans-serif;">
            <h1>Hello. We are receiving the change email request from the account connected to this email.</h1>
            <h3>OTP token</h3>
            <h1>{{ otp }}</h1>
            <p>Enter the OTP in the verify your new email.</p>
            <p>If you never request, please ignore this email.</p>
        </div>  
    </body>
</html>