<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Permohonan Ganti Email</title>
    </head>
    <body class="clean-body u_body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;color: #000000">
        <div style="font-family:arial,helvetica,sans-serif;">
            <h1>Halo, Kami menerima request bahwa Anda telah meminta penggantian Email.</h1>
            <h3>Berikut adalah token OTP anda</h3>
            <h1>{{ otp }}</h1>
            <p>Untuk mengubah Email anda, silahkan masukkan OTP ini ke permohonan mengganti Email Anda.</p>
            <p>Jika Anda tidak pernah meminta, silahkan hiraukan Email ini.</p>
        </div>  
    </body>
</html>